<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Netlink KhataBook</title>

    <!---Mobile responsive--->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

<!-- ================= HEADER ================= -->
<div class="header">
    <div class="logo">📘 Netlink KhataBook</div>
    <a href="/logout" class="logout">Logout</a>
</div>

<!-- ================= SUMMARY CARDS ================= -->
<div class="summary">
    <div class="card credit">
        <span>Credit</span>
        <h2>₹ {{ credit }}</h2>
    </div>

    <div class="card debit">
        <span>Debit</span>
        <h2>₹ {{ debit }}</h2>
    </div>

    <div class="card balance">
        <span>Balance</span>
        <h2>₹ {{ balance }}</h2>
    </div>
</div>

<!-- ================= CENTER MAIN SECTION ================= -->
<div class="main-center">

    <!-- ADD ENTRY CARD -->
    <div class="form-card">
        <h3>➕ Add New Transaction</h3>

        <form method="POST" action="/dashboard">    
            <input type="date" name="date" value="{{ today }}" required>

            <input type="text" name="name" placeholder="Customer Name" required>

            <input type="number" name="amount" placeholder="Amount" required>

            <select name="type" required>
                <option value="">Select Type</option>
                <option value="credit">Credit</option>
                <option value="debit">Debit</option>
            </select>

            <button type="submit">➕ Add Entry</button>
        </form>

        <a href="{{ url_for('entries') }}" class="view-btn">View All Transactions</a>
        <a href="{{ url_for('monthly_report') }}" class="view-btn">📊 Monthly Report</a>

    </div>

</div>



</body>
</html>
